<footer style="background-color:#fff">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>BROWSER</h5>
        <ul class="list-unstyled">
          <li><a href="#">Shop</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Plant Care</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>LEGAL</h5>
        <ul class="list-unstyled">
          <li><a href="#">Returns Policy</a></li>
          <li><a href="#">Shipping Policy</a></li>
          <li><a href="#">Privacy Notice</a></li>
          <li><a href="#">Plant Toxicity</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h5>Hear About it First!</h5>
        <p>Subscribe to our Newsletter for only the good stuff! We hate Spam too.</p>
        <ul class="list-unstyled list-inline">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
        </ul>
      </div>

      <p>© 2023 Plant Dads - Urban Plantery - Let's Spread Kindness </p>
    </div>
  </div>
</footer>
