<div class="container mt-5">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="image1.jpg" alt="Image 1">
        <div class="card-body">
          <h5 class="card-title">Product 1</h5>
          <p class="card-text">Product description goes here</p>
          <p class="card-text">$49.99</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="image2.jpg" alt="Image 2">
        <div class="card-body">
          <h5 class="card-title">Product 2</h5>
          <p class="card-text">Product description goes here</p>
          <p class="card-text">$59.99</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="image3.jpg" alt="Image 3">
        <div class="card-body">
          <h5 class="card-title">Product 3</h5>
          <p class="card-text">Product description goes here</p>
          <p class="card-text">$39.99</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
