<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal" src="https://icons8.com/icon/JX5Zblk8Vzsr/headphones" id="logo-heading">Plant<span id="logo-heading-coloring">Dads</span></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">About Us</a>
    <a class="p-2 text-dark" href="#">Shop</a>
    <a class="p-2 text-dark" href="#">Support</a>
  </nav>

  <form class="form-inline my-2 my-lg-0">
    <button id="btn-cart" class="btn btn-outline-dark my-2 my-sm-0" type="submit">
      <div class="d-flex align-items-center">
        <img src="https://img.icons8.com/ios/512/shopping-cart.png" class="mr-2">
        <span id="cart-text">Cart</span>
      </div>
    </button>
  </form>
  
  <!-- <form class="form-inline my-2 my-lg-0">
    <button id="btn-cart" class="btn btn-outline-dark my-2 my-sm-0" type="submit"> <img src="https://img.icons8.com/ios/512/shopping-cart.png"> <span id="cart-text">Cart</span></button>
  </form> -->
</div>