<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <form>
          <h4 class="text-center mb-4 login-page">Create Account</h4>
          <div class="form-group">
            <label for="email">First Name</label>
            <input
              type="email"
              id="placeholder"
              class="form-control"
              id="email"
              placeholder=""
              style="width: 100%"
              required
            />
          </div>
  
          <div class="form-group">
            <label for="password">Last Name</label>
              <input
                type="password"
                id="placeholder"
                class="form-control"
                id="password"
                placeholder=""
                style="width: 100%"
                required
              />
          </div>

          <div class="form-group">
            <label for="password">Email</label>
              <input
                type="password"
                id="placeholder"
                class="form-control"
                id="password"
                placeholder=""
                style="width: 100%"
                required
              />
          </div>

          <div class="form-group">
            <label for="password">Password</label>
              <input
                type="password"
                id="placeholder"
                class="form-control"
                id="password"
                placeholder=""
                style="width: 100%"
                required
              />
          </div>
          <button type="submit" class="btn btn-primary" style="width: 100%">
            Register
          </button>
          <!-- <div class="text-center mt-3">
              <a href="#">Forgot password?</a>
            </div> -->
          <div id="signup-text" class="text-center mt-4">
            <p>Already have an account? <a id="signup" routerLink="/login">Sign-in</a></p>
          </div>
        </form>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-8 d-flex align-items-center justify-content-center"
      >
        <img
          id="login-img"
          src="../../../assets/images/CastIronPlant-Green40cminSinan45cmBasket_1800x1800.png"
          alt=""
          style="max-height: 100%; "
        />
      </div>
    </div>
  </div>
  