<div class="prod-heading">
  <h2>ALL <span id="heading-coloring">PLANTS</span></h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center mx-auto">
        <p class="intro-descri">
          Our primary collection of on-trend foliage and flowering houseplants
          to easily brighten up your Space. Create the perfect Indoor Jungle
          with our selections of <span class="p-coloring">Low Light</span>,
          <span class="p-coloring">Hanging</span>,
          <span class="p-coloring">Tabletop</span> and
          <span class="p-coloring">Easy Care</span> Plants, be it for your
          <span>Bathroom</span>,
          <span class="p-coloring">General Living Space</span> or
          <span class="p-coloring">Office</span>. For something unique and
          eye-catching, consider one of our traditional hand-tied
          <span class="p-coloring">Mossballs</span>. <br /><br />
          Add something larger to your plant collection with either our
          <span class="p-coloring">Floor Standing</span> and
          <span class="p-coloring">Extra Large</span> Plant options. View our
          collection of <span class="p-coloring">Plant Pots</span> Pots to
          create the ultimate style combo. For extra Plant Care Support checkout
          our <span class="p-coloring">Plant Care Tab</span>, for detailed Care
          Instructions. <br /><br />Enjoy quick, safe and affordable shipping
          anywhere in South Africa!
        </p>
      </div>

     
    </div>
  </div>
</div>

<div class="filter-dropdown">
  <button class="filter-btn">
    Filter Plants <i class="fas fa-caret-down"></i>
  </button>
  <div class="filter-content">
    <a href="#">Best Selling</a>
    <a href="#">On Sale</a>
    <a href="#">Alphabetically, A-Z</a>
    <a href="#">Price, low to high</a>
    <a href="#">Price, high to low</a>
    <a href="#">Date, old to low</a>
  </div>
</div>

<div *ngIf="loading" class="loader">
  <!-- You can add your loading indicator here -->
  Loading...
</div>

<div class="container mt-5">
  <div class="row">
    <!-- Card 1 -->
    <div class="col-sm-3" *ngFor="let product of products">
      <div class="card" style="width: 18rem">
        <div class="card-img-top-wrapper">
          <img
            id="img-card"
            [src]="product.image_link1"
            alt=""
            class="card-img-top"

            
          />

        </div>
        <div class="card-body">
          <div class="card-info">
            <p class="card-title">{{product.plant_Name}}</p>
            <span class="card-text"><span class="price-text">from</span> R{{product.plant_Price}}</span>
          </div>
          <div class="button-class">
            <button id="btn-cart" class="btn btn-primary btn-lg btn-block" style="margin-top: 10px;">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
    
</div>
